<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8" />
    <title>Landfill Tickets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'ticket_app/css/style.css' %}" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>

<header>
    <nav class="navbar navbar-collapse">
        <div class="container-fluid">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">LOGO</a>
                </div>
                <div class="collapse navbar-collapse" id="#navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/transactions/add/">Add Transaction</a><span class="sr-only">(current)</span> </li>
                        <li><a href="/tickets/">Add Tickets</a></li>
                        <li><a href="/tickets/audit/">Audit Tickets</a> </li>
                        <li><a href="/transactions/">View Transactions</a></li>
                        <li><a href="/report/">Generate Transaction Report</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>

<body>
<div class="container">