{% include "ticket_app/header.html" %}
<h1>Add a Transaction</h1>
{% load staticfiles%}







<form class="form" method="post" action="">

{% csrf_token %}

{{form.as_p}}


         {{form2.management_form}}

        {% for f in form2 %}
<div class='table'>
     <table>
        {{ f.as_table}}
             </table>

</div>
        {% endfor %}

 <input type="button" class="btn btn-default btn-sm" value="Add Another Ticket" id="add_more">

<input class='btn btn-default' type="submit" id="submit" value="submit">


</form>




<script type="text/javascript" src="{% static 'ticket_app/js/add_row.js' %}"></script>
<script type="text/javascript">

    $('#add_more').click(function() {
        cloneMore('div.table:last', 'form');
    });
    $('#submit').click(function(){
        ('#form2').submit()
    });

</script>

{% include "ticket_app/footer.html" %}