{% include "ticket_app/header.html" %}
<h2>Unsold Tickets</h2>
               {% for location in locations.values %} 
<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>{{ location.name }} - {{ location.tickets | length }} Unsold</th>

            </tr>
        </thead>
        <tbody>
{% for ticket in location.tickets %}
            <tr>
                <td>{{ticket.ticket_number}}</td>
            </tr>
{% endfor %}
    </table>
</div>
{% endfor %}
{% include "ticket_app/footer.html" %}
