{% include "ticket_app/header.html" %}
<h2>Unsold Tickets</h2>
               {% for location in locations.values %} 
<div class="col-sm-6">

                <h2>{{ location.name }} - {{ location.tickets | length }} Unsold</h2>

           <span><a class="ticket-show" id="{{location.id}}" href="#">See Ticket Numbers</a></span>
        <div class="tickets" id="tickets-{{location.id}}">
            <a class="ticket-hide" id="{{location.id}}" href="#">Hide Ticket Numbers</a>
{% for ticket in location.tickets %}
                <p>{{ticket.ticket_number}}</p>

{% endfor %}
        </div>

</div>

{% endfor %}
<script type="text/javascript">
$(document).ready(function(){
    $('.tickets').hide();
    $('.ticket-show').click( function(){
        $(this).hide()
        var location = this.id;
        $('#tickets-'+location).show();
    });
    $('.ticket-hide').click( function(){

        var location = this.id;
        $('#tickets-'+location).hide();
        $('#'+location).show();
    });
});
</script>

{% include "ticket_app/footer.html" %}
