{% include "ticket_app/header.html" %}

<h1>Transaction Summary</h1>

<p><strong>Total: ${{ object.total }}</strong></p>
<p>Date: {{ object.date | date }}</p>
<p>Location: {{ object.location }}</p>
<p>Staff Initials: {{object.staff_initials }}</p>
<p>Payment Type: {{object.payment_type }}</p>
<p>Check Number: {{ object.check_number }}</p>
<p>Reported: {{ object.reported }}</p>

<p><u>Ticket Numbers</u></p>
{% for ticket in transaction_tickets %}

<p>{{ ticket.ticket }}</p>

{% endfor %}

{% include "ticket_app/footer.html" %}