{% include "ticket_app/header.html" %}

<h1>View Transactions</h1>

{% for location in locations %}
<div class="col-md-6">
    <h2>{{ location.1 }}</h2>
    <table class="table">
    <thead>
        <th>Transaction Date</th>
    <th>Transaction Total</th>
    <th>Date Reported</th>
    </thead>
        <tbody>
        {% for transaction in transactions  %}
            {% if transaction.location.id = location.0 %}
                <tr>
                   <td> <a href="/transactions/detail/{{transaction.id}}/">{{ transaction.date | date }}</a></td>
                    <td>${{ transaction.total }}</td>
                    <td>
                        {%if transaction.reported %}
                        {{ transaction.date_reported }}
                        {% endif %}

                    </td>

                </tr>
            {% endif%}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endfor %}

{% include "ticket_app/footer.html" %}
